# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environments
venv/
.env/

# Jupyter/IPython
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Datasets / Hugging Face cache
.cache/
datasets/
*.arrow
*.parquet

# Local dev files
*.db
*.sqlite3
*.csv
*.html

# System files
.DS_Store
Thumbs.db

# Python environment metadata
pip-log.txt
*.egg-info/
dist/
build/
